.button {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    align-items: center;
    max-width: fit-content;
    padding: 1em;
    color: white;
    background-color: green ;
    cursor: pointer;
}

.button:hover {
    color: black;
    background-color: aqua;
    filter: brightness(.95);
}