@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(31, 28, 22);
    color: rgb(255, 219, 120);
}

p {
    font-family: 'Cabin', 'sans-serif';
    font-size: 4vw;
    text-transform: uppercase;
    border: 1px solid red;
}

#text{
    margin: 12.5vw 30vw;
    place-items: center;
    
}
.line {
    display: flex;
    justify-content: space-between;
}

.text:has(.touch:hover) .word:not(.touch:hover) {
    opacity: .2;
}