body {
    background-color: rgb(20, 20, 20);
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    place-items: center;
}

.card {
    height: 15.625em;
    width: 25em;
    background-color: rgb(99, 99, 99);
    border-radius: .625em;
    position: relative;
    cursor: pointer;
}

.card h2 {
    margin: 7vw 5vw;
    font-size: 2.5em;
    color: grey;
    text-align: center;
}

.card:before {
    content: "";
    inset: 0;
    position: absolute;
    z-index: 0;
    opacity: 0;
    border-radius: inherit;
    background: linear-gradient(
        45deg,
        transparent 10%,
        rgb(255, 215, 137) 50%,
        transparent 95%
    );
}


.card:hover:before {
    opacity: 1;
    transform: ease-in-out;
    transition: transform 600ms;
    /* z-index: 2; */

}
#card-content {
    background-color: rgb(14, 14, 13);
    border-radius: inherit;
    inset: .125em;
    position: absolute;

}