* {
    background-color: rgb(70, 67, 67);
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    padding: clamp(2rem, 5vw, 6rem);
    z-index: 2;
}


nav>a {
    color: turquoise;
    text-decoration: none;
    /* border: 1px solid red; */
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}

nav>a:hover {
    color: white;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 250ms;
}

nav>a>span {
    display: inline-block;
    padding: .25em;
    width: 50%;
    border-bottom: .0125em solid transparent;
    border-top: .0125em solid transparent;
    position: relative;
    /* z-index: 2; */
}


nav>a:hover>span {
    border-top-color: turquoise;
    border-bottom-color: turquoise;
}

nav>a>img {
    position: absolute;
    opacity: 0;
    transform: translate(50%, 50%) scale(.6);
    transition: transform 300ms, opacity 300ms;
    pointer-events: none;
    width: min(20vw);
    border-radius: .125em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 2;
}

nav>a:hover>img {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}