@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

:root {
	--items: 10;
	--text-color: rgb(122, 243, 223);
	--width: clamp(9.375rem, 30vw, 18.75rem);
	--height: clamp(12.5rem, 40vw, 25rem);
	--x: calc(var(--active) * 800%);
	--y: calc(var(--active) * 200%);
	--rotate: calc(var(--active) * 120deg);
	--opacity: calc(var(--z-index) / var(--items) * 3 - 2);
}

body {
	overflow: hidden;
	background-color: linear-gradient(135deg, black, #003330);
	font-family: 'Aclonica', sans-serif;
}

.carousel {
	position: relative;
	z-index: 1;
	height: 100vh;
	overflow: hidden;
	pointer-events: none;
}

.carousel__item {
	overflow: hidden;
	position: absolute;
	z-index: var(--z-index);
	width: var(--width);
	height: var(--height);
	margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
	top: 50%;
	left: 50%;
	user-select: none;
	transform-origin: 0% 100%;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 1.375rem 4.375 0.25rem;
	background: burlywood;
	pointer-events: all;
	transform: translate(var(--x), var(--y)) rotate(var(--rotate));
	transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
	border-radius: 1rem;
}

.carousel__item > .carousel__card {
	position: absolute;
	/* position: relative; */
	display: flex;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: var(--opacity);
	transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
}

.carousel__item > .carousel__card::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(31, 30, 30, 0.3),
		rgba(10, 10, 10, 0) 32%,
		rgba(12, 11, 11, 0) 50%,
		rgba(10, 10, 10, 0.5)
	);
}

.title {
	position: absolute;
	z-index: 1;
	color: var(--text-color);
	bottom: 1.25rem;
	left: 1.25rem;
	text-transform: capitalize;
	transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
	font-size: clamp(1.25rem, 3vw, 1.875rem);
	text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

.card__num {
	position: absolute;
	z-index: 1;
	color: var(--text-color);
	top: 0.625rem;
	left: 1.25rem;
	font-size: clamp(1.25rem, 10vw, 4rem);
	text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

.cursor {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 0.0625rem solid rgba(255, 255, 255, 0.2);
	margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
	transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
	display: none;
	pointer-events: none;
}


@media (pointer: fine) {
	.cursor {
		display: block;
	}
}
