body {
    overflow: hidden;
    margin: 0;
}

.carousel {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.film-card {
    flex: 0 0 80%; /* Adjust as needed */
    margin: 0 5%;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.film-card:focus {
    opacity: 1;
    transform: scale(1.2);
    z-index: 1;
}
